In [2]:
import pandas as pd

In [7]:
# Get the data

all_activity_df_list = []
all_sleep_df_list = []

for num in range(1,23):
    activity_csv_file_path = f'../../Resources/DataPaper/user_{num}/Activity.csv'
    sleep_csv_file_path = f'../../Resources/DataPaper/user_{num}/sleep.csv'
    
    activity_df = pd.read_csv(activity_csv_file_path)
    sleep_df = pd.read_csv(sleep_csv_file_path)
    
    activity_df['User'] = num
    sleep_df['User'] = num
    
    activity_df.set_index(['User'])
    sleep_df.set_index(['User'])

    all_activity_df_list.append(activity_df)
    all_sleep_df_list.append(sleep_df)

all_activity_df = pd.concat(all_activity_df_list)
all_sleep_df = pd.concat(all_sleep_df_list)

In [6]:
all_activity_df

    Unnamed: 0  Activity  Start    End  Day  User
0            0         2  10:00  10:22    1     1
1            1         9  10:37  10:40    1     1
2            2        10  10:40  10:45    1     1
3            3         6  10:55  11:00    1     1
4            4         2  11:00  11:20    1     1
..         ...       ...    ...    ...  ...   ...
6            6         3  22:30  00:10    1    22
7            7         2  00:20  00:40    2    22
8            8         6  17:00  17:10    1    22
9            9        11  23:20  23:30    1    22
10          10         0  01:06  07:04    2    22

[456 rows x 6 columns]

In [5]:
all_sleep_df.head(30)

,Unnamed: 0,In Bed Date,In Bed Time,Out Bed Date,Out Bed Time,Onset Date,Onset Time,Latency,Efficiency,Total Minutes in Bed,Total Sleep Time (TST),Wake After Sleep Onset (WASO),Number of Awakenings,Average Awakening Length,Movement Index,Fragmentation Index,Sleep Fragmentation Index,User
0,0,2,00:46,2,03:31,2,00:46,0,87.27,165,144,21,9,2.33,9.091,10.000,19.091,1
1,1,2,03:57,2,07:30,2,03:57,0,92.02,213,196,17,9,1.89,8.920,0.000,8.920,1
0,0,2,00:50,2,06:22,2,00:54,4,73.49,332,244,84,18,4.67,15.060,5.556,20.616,2
0,0,1,22:29,1,05:52,1,22:32,3,79.23,443,351,89,16,5.56,18.962,0.000,18.962,3
0,0,2,00:57,2,07:10,2,01:01,4,85.52,373,319,50,28,1.79,8.847,14.286,23.133,4
0,0,1,23:56,1,06:42,1,23:56,0,85.71,406,348,58,21,2.76,11.576,9.524,21.100,5
0,0,2,02:27,2,09:02,2,02:27,0,84.30,395,333,62,20,3.10,10.633,4.762,15.395,6
0,0,2,00:28,2,08:02,2,00:28,0,75.33,454,342,112,31,3.61,17.401,28.125,45.526,7
0,0,2,00:17,2,07:13,2,00:20,3,80.77,416,336,77,27,2.85,17.308,25.926,43.234,8
0,0,2,00:30,2,11:00,2,00:33,3,91.75,630,578,49,4,12.25,8.095,0.000,8.095,9
0,0,2,02:40,2,08:09,2,02:44,4,75.08,329,247,78,13,6.00,20.669,7.692,28.361,10
0,0,2,00:32,2,06:36,2,00:32,0,94.23,364,343,21,12,1.75,9.066,15.385,24.451,12
0,0,1,23:41,1,05:04,1,23:41,0,76.47,323,247,76,19,4.00,17.957,15.789,33.746,13
0,0,2,00:08,2,07:00,2,00:08,0,90.78,412,374,38,19,2.00,11.408,0.000,11.408,14
0,0,2,01:15,2,05:39,2,01:16,1,89.39,264,236,27,15,1.80,18.561,0.000,18.561,15
0,0,2,00:22,2,07:58,2,00:26,4,74.34,456,339,113,39,2.90,16.228,15.385,31.613,16
0,0,2,00:44,2,06:36,2,00:44,0,86.93,352,306,46,20,2.30,9.375,19.048,28.423,17
0,0,2,00:55,2,06:53,2,00:58,3,84.36,358,302,53,9,5.89,16.480,20.000,36.480,18
0,0,1,22:56,1,06:35,1,22:57,1,74.07,459,340,118,44,2.68,18.954,22.222,41.176,19
0,0,2,01:03,2,08:19,2,01:03,0,88.07,436,384,52,12,4.33,11.009,0.000,11.009,20
0,0,2,02:19,2,07:16,2,02:19,0,91.92,297,273,24,18,1.33,6.734,0.000,6.734,21
0,0,2,01:06,2,07:04,2,01:09,3,84.92,358,304,51,21,2.43,14.804,13.636,28.440,22

## Sleeping more increases health levels of exercise activities, hr, etc?

In [16]:
# Next Steps??
# Merge the two dfs by user id
# Drop the Unamed column
activity_sleep_df = pd.merge(all_activity_df, all_sleep_df, on="User")
activity_sleep_df
# activity_sleep_df[activity_sleep_df['User' == 2]]

,Unnamed: 0_x,Activity,Start,End,Day,User,Unnamed: 0_y,In Bed Date,In Bed Time,Out Bed Date,...,Latency,Efficiency,Total Minutes in Bed,Total Sleep Time (TST),Wake After Sleep Onset (WASO),Number of Awakenings,Average Awakening Length,Movement Index,Fragmentation Index,Sleep Fragmentation Index
0,0,2,10:00,10:22,1,1,0,2,00:46,2,...,0,87.27,165,144,21,9,2.33,9.091,10.000,19.091
1,0,2,10:00,10:22,1,1,1,2,03:57,2,...,0,92.02,213,196,17,9,1.89,8.920,0.000,8.920
2,1,9,10:37,10:40,1,1,0,2,00:46,2,...,0,87.27,165,144,21,9,2.33,9.091,10.000,19.091
3,1,9,10:37,10:40,1,1,1,2,03:57,2,...,0,92.02,213,196,17,9,1.89,8.920,0.000,8.920
4,2,10,10:40,10:45,1,1,0,2,00:46,2,...,0,87.27,165,144,21,9,2.33,9.091,10.000,19.091
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
448,6,3,22:30,00:10,1,22,0,2,01:06,2,...,3,84.92,358,304,51,21,2.43,14.804,13.636,28.440
449,7,2,00:20,00:40,2,22,0,2,01:06,2,...,3,84.92,358,304,51,21,2.43,14.804,13.636,28.440
450,8,6,17:00,17:10,1,22,0,2,01:06,2,...,3,84.92,358,304,51,21,2.43,14.804,13.636,28.440
451,9,11,23:20,23:30,1,22,0,2,01:06,2,...,3,84.92,358,304,51,21,2.43,14.804,13.636,28.440
452,10,0,01:06,07:04,2,22,0,2,01:06,2,...,3,84.92,358,304,51,21,2.43,14.804,13.636,28.440