In [2]:
import pandas as pd

In [14]:
# Use this code starter to 
# combine all the user dataframes into depending on your analysis

all_activity_df_list = []

for num in range(1,23):
    user_activity_df = pd.read_csv(f'DataPaper/user_{num}/Activity.csv')
    user_activity_df['User'] = num
    user_activity_df.set_index(['User'])
    all_activity_df_list.append(user_activity_df)

all_activity_df = pd.concat(all_activity_df_list)
all_activity_df

    Unnamed: 0  Activity  Start    End  Day  User
0            0         2  10:00  10:22    1     1
1            1         9  10:37  10:40    1     1
2            2        10  10:40  10:45    1     1
3            3         6  10:55  11:00    1     1
4            4         2  11:00  11:20    1     1
..         ...       ...    ...    ...  ...   ...
6            6         3  22:30  00:10    1    22
7            7         2  00:20  00:40    2    22
8            8         6  17:00  17:10    1    22
9            9        11  23:20  23:30    1    22
10          10         0  01:06  07:04    2    22

[456 rows x 6 columns]